{% extends 'rango/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Login to rango</h1>

  <div class="container">
  <form class="form-signin span4" id="login_form" method="post" action='/rango/login/'>
    <h2 class="form-signin-heading">Please sign in</h2>
    {% csrf_token %}

    {% if error_message %}
      <span style='color: red;'>{{ error_message }}</span><br/>
    {% endif %}

    Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50"/>
    <br/>
    Password: <input type="password"  class="input-block-level" placeholder="Password" name="password" value="" size="50"/>
    <br/>
    <button class="btn btn-primary" type="submit">Sign in</button>
  </form>
  </div>

</div>
{% endblock %}

